.truck-profile {
display: flex;
flex-direction: column;
padding: 20px;
height: 100%;
}

.button-row {
    margin-bottom: 10px;
}

.card {
margin-bottom: 20px;
}

.card.mat-card {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.truck-information-card {
flex: 0 0 20%; /* Truck information card takes 20% of the screen width */
}

.maintenance-history-card {
flex: 1; /* Maintenance history card takes the remaining space */
max-height: 60%;
overflow-y: auto;
}

.card-content {
padding: 20px;
}

.card-content ul {
list-style: none;
padding: 0;
}

.card-content li {
margin-bottom: 5px;
}

.maintenance-history-card .timeline {
border-left: 2px solid #ccc;
padding-left: 20px;
}

.event {
margin-bottom: 20px;
}

.event-date {
font-weight: bold;
margin-bottom: 5px;
}

.event-type {
font-weight: bold;
}

.event-description {
margin-top: 5px;
}
